{% extends 'layout.html' %}
<html>
    {% block contents %}
    <div class="row">
        <div class="col-md-10">
            <h1>DenseMatching API</h1>
        </div>
    </div>
    <br>

    <p>Model config (.json)</p>
    <form action="/model" method="POST" enctype="multipart/form-data">
        <input type="file" name="config" accept=".json" required/>
        <input type="submit" value="Upload" />
    </form>
    <hr>
    <form action="/predict" method="post" enctype="multipart/form-data" >
        Query image file: <input type="file" name="query" multiple id="file" accept=".png, .jpg, .jpeg"/>
        Reference image file: <input type="file" name="reference" multiple id="file" accept=".png, .jpg, .jpeg"/>
        <input type="submit" value="Upload"  />
    </form>
    {% endblock %}
</html>